#cms {
    margin-left: 0;
    margin-right: 0;
    #sidebar-wrapper{
        background-color: $mainColour;
        .sidebar-nav li a {
            color: $lightgray;
            &:hover {
                background-color: $subColour;
            }
        }
    }
    #page-content-wrapper {
        position:relative;
    }
    #menu-toggle {
        z-index:100;
    }
    #back-home {
        z-index:100;
        border-radius: 0;
        position:absolute;
        right: 15px;
        a {
            color: $white;
            text-decoration:none;
        }
    }
}
