#adminbanner, #bootstrap-touch-slider
{
    .carousel-indicators {
        li {
            border: 1px solid $mainColour;
            background: none;
            width: 10px;
            height: 10px;
        }
        .active {
            background-color: $white;
            &:before {
                width: 0px;
                height:0px;
            }
        }
    }
    .carousel-inner {
        .item{
            height:48vw;
            .slide-image {
                position:absolute;
                left:50%;
                top:50%;
                transform: translate(-50%,-50%);
            }
        }
        .slide-text{
            height:100%;
            top:15%;
             * {
                text-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
            }
        }
    }
}
