.commentBox {
    margin-top: 20px;
    .comments {
        display:flex;
        justify-content: space-between;
        align-items: center;
        .username {
            font-weight:bold;
            padding-right: 1em;
            width: 130px;
            @include breakpoint(xs){
                font-size: 0.5em;
                width:80px;
            }
        }
        .rating {
            padding-right:1em;
            width: 100px;
            @include breakpoint(xs){
                width:30px;
                font-size: 0.5em;
            }
        }
        .body {
            flex:1;
        }
        .time {
            color:$gray;
        }
        .delete {
            padding-left:1em;
        }
    }
    .pleaselogin {
        text-align: center;
        font-style:italic;
        color:$gray;
    }
}
