#contact {
    padding: 2em 15px;
    h2 {
        padding-bottom: 1em;
    }
    .map-container {
        @include breakpoint(xs){
            margin-bottom: 15px;
        }
    }
    .btn {
        width: 100%;
    }
}
