@font-face {
    font-family: Questrial;
    src: url('/fonts/Questrial-Regular.ttf');
}
@font-face {
    font-family: Forum;
    src: url('/fonts/Forum-Regular.ttf');
}
@font-face {
    font-family: Lato;
    src: url('/fonts/Lato-Regular.ttf');
}
