#footer {   
    padding: 3em 15px;
    background-color: $lightgray;
    ul {
        list-style-type: none;
        li, li>a {
            color: $gray;
        }
    }
    .copyrights{
        font-style:italic;
        color: $gray;
        text-align:center;
        padding:1em 0;
    }
}
