//Item Carousel
.item {
    .single-item {
        &:hover {
           .details {
                background-color: $subColour;
                h4, p {
                    color:$white;
                }
            }
        }
        .addtocart{
            position:absolute;
            right:0;
            top:0;
            &:hover{
                button {
                    border-radius: 100%;
                    color:white;
                    background-color: $subColour;
                }
            }
            button {
                background: none;
                border: none;
                text-decoration: none;
                color:$mainColour;
                text-align:center;
                transition: 0.3s all ease-in-out;
                i {
                    padding:1em;
                    font-size: 1.5em;
                }
            }
        }
        .details {
            border: 1px solid $white;
            background-color: $lightgray;
            transition: 0.3s ease-in-out all;
            height:100px;
            display:flex;
            flex-flow:column nowrap;
            justify-content:center;
            h4{
                color: $mainColour;
                padding: 0.5em 1em;
            }
            p{
                color: $mainColour;
                padding:0 1em;
            }
        }
    }
}
.carousel-showmanymoveone
{
  .carousel-control
  { 
    width: 4%;
    background-image:none;

    .left 
    {
      margin-left:15px;
    }

    .right 
    {
      margin-right:15px;
    }
  }

  .cloneditem-1, 
  .cloneditem-2, 
  .cloneditem-3
  {
    display: none;
  }

  .carousel-inner
  {
    @media all and (min-width: 768px)
    {
      @media (transform-3d), (-webkit-transform-3d)
      {
        > .item.active.right,
        > .item.next
        { 
          transform: translate3d(50%, 0, 0);  
          left: 0;
        }

        > .item.active.left,
        > .item.prev
        { 
          transform: translate3d(-50%, 0, 0);
          left: 0;
        }

        > .item.left,
        > .item.prev.right,
        > .item.active
        {
          transform: translate3d(0, 0, 0);
          left: 0;
        }    
      } 

      > .active.left,
      > .prev
      {
        left: -50%;
      }

      > .active.right,
      > .next
      {
        left:  50%;
      }

      > .left,
      > .prev.right,
      > .active
      {
        left: 0;
      }

      .cloneditem-1 
      {
        display: block;
      }
    }

    @media all and (min-width: 992px)
    {    
      @media (transform-3d), (-webkit-transform-3d)
      {
        > .item.active.right,
        > .item.next
        { 
          transform: translate3d(25%, 0, 0);  
          left: 0;
        }    

        > .item.active.left,
        > .item.prev
        { 
          transform: translate3d(-25%, 0, 0);
          left: 0;
        }

        > .item.left,
        > .item.prev.right,
        > .item.active
        {
          transform: translate3d(0, 0, 0);
          left: 0;
        }
      }

      > .active.left,
      > .prev
      {
        left: -25%;
      }

      > .active.right,
      > .next
      {
        left:  25%;
      }

      > .left,
      > .prev.right,
      > .active
      {
        left: 0;
      }

      .cloneditem-2, 
      .cloneditem-3
      {
        display: block;
      }
    }    
  }
}
