.navbar {
    margin-bottom: 0;
}
/* CARTNAV */
.cart-nav{
    border: none;
    border-radius: 0;
    background-color: $mainColour;
    .navbar-nav>li>a{
        color: $white;        
        &:hover {
            background-color: $subColour;
            color: $white;
        }
    }
}
/* SEARCHNAV */
.search-nav{
    padding: 1em 0;
    border: none;
    background-color: $white;
    .container {
        display:flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        .navbar-logo {
            img {
                width: 100%;
                padding: 2em 0;
                @include breakpoint(xs){
                     width: 50%;
                }
                @include breakpoint(sm){
                     width: 50%;
                }
            }
        }
        .navbar-search {
            margin: 0;
            input {
                border-radius: 0;
                border-color: $mainColour;
            }
            button {
                background-color: $mainColour;
                border-color: $mainColour;
                color:$white;
                &:hover {
                    background-color: $subColour;
                    border-color: $subColour;
                    color: $white;
                }
            }
        }
    }
}

/* CATEGORYNAV */
.category-nav{
    border: none;
    height:auto;
    margin: 0;
    background-color: $white;
    .navbar-header{
        margin: none;
        button.navbar-toggle{
            border: none;
            border-radius: 0;
            margin: 0;
            width: 100%;
            height: 100%;
            &:hover{
                background-color: $gray;
                color: $white;
            }
            &:focus {
                background-color: $subColour;
                color: $white;
            }
            }
        }
    .navbar-collapse{
        text-align: center;
        border: none;
        .navbar-nav {
            display:flex;
            justify-content: space-between;
            float:none;
            @include breakpoint(xs) {
                display:block;
                float: none;
                vertical-align: top;
            }
            li {
                width: 100%;
            }
        }
    }
}
