.navbar {
    margin-bottom: 0;
}
.navbar-default .navbar-toggle{
    border:none;
    border-radius:0;
    &:hover{
        background-color: $subColour;
        .icon-bar {
            background-color: $white; 
        }
    }
    &:focus{
        background-color: $subColour;
        .icon-bar {
            background-color: $white; 
        }
    }
}
/* CARTNAV */
.cart-nav{
    border: none;
    border-radius: 0;
    background-color: $mainColour;
    .navbar-nav>li>a{
        color: $white;        
        &:hover {
            background-color: $subColour;
            color: $white;
        }
    }
    .navbar-collapse {
        border-color: $mainColour;
    }
}
/* SEARCHNAV */
.search-nav{
    padding: 1em 0;
    padding-top : 70px;
    border: none;
    background-color: $white;
    .container {
       .row {
            display:flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            .navbar-logo {
                img {
                    width: 100%;
                    padding: 2em 0;
                    @include breakpoint(xs){
                         width: 50%;
                    }
                    @include breakpoint(sm){
                         width: 50%;
                    }
                }
            }
            .navbar-search {
                margin: 0;
                input {
                    border-radius: 0;
                    border-color: $mainColour;
                }
                button {
                    background-color: $mainColour;
                    border-color: $mainColour;
                    color:$white;
                    &:hover {
                        background-color: $subColour;
                        border-color: $subColour;
                        color: $white;
                    }
                }
            }
        }
    }
}

/* CATEGORYNAV */
.category-nav{
    border: none;
    margin: 0;
    background-color: $white;
    .navbar-header{
        margin: none;
        button.navbar-toggle{
            border: none;
            border-radius: 0;
            margin: 0;
            width: 100%;
            &:hover{
                background-color: $gray;
                color: $white;
            }
            &:focus {
                background-color: $subColour;
                color: $white;
            }
            }
        }
    .navbar-collapse{
        text-align: center;
        border: none;
        padding:0;
        .navbar-nav {
            display:flex;
            justify-content: space-between;
            float:none;
            @include breakpoint(sm) {
                display:block;
                margin:0;
                float: none;
                vertical-align: top;
            }
            @include breakpoint(xs) {
                display:block;
                margin:0;
                float: none;
                vertical-align: top;
            }
            li {
                font-size: 0.8em;
                width: 100%;
                transition: 0.3s all ease-in-out;
                display:flex;
                flex-flow:column nowrap;
                justify-content:center;
                &:hover {
                    background-color: $mainColour;
                    a {
                        color:$white;
                    }
                }
            }
        }
    }
}
.affix {
    width:100%;
    margin-top:50px;
    z-index:1000;
    border-radius:0;
}
