#services {
    padding: 3em 15px;
    background-color: $lightgray;
    margin:0;
    h2{
        padding-bottom:1em;
    }
    .service {
        padding: 2em 1em;
        transition: all 0.3s ease-in-out;
        cursor: default;
        &:hover{
            background-color: $subColour;
            color: $white;
        }
    }
    .service_title, h1 {
        text-align: center;
    }
    i {
        font-size: 2em;
    }
}
