#subscribe {
    margin-bottom: 0;
    background-color: $mainColour;
    color: $white;
    h2 {
    }
    h4 {
        padding: 1em 0;
    }
    .btn {
        margin: auto;
        width: 100%;
        text-align: center;
    }
}
