body {
    background-color: $white;
    display:flex;
    min-height:100vh;
    flex-flow: column nowrap;
}
.content{
    flex:1;
}
h1,h2,h3 {
    font-family : $headerFont;
}
h4,h5,h6 {
    font-family: $subheaderFont;
}
p,span,a {
    font-family: $bodyFont;
}
a {
    text-decoration: none;
    &:hover {
        text-decoration:none;
    }
}

//login-form
.btn-default {
    border-radius: 0;
}
.btn-main{
    background-color: $mainColour;
    border-color: $mainColour;
    color:$white;
    &:hover {
        @include darkBGC($mainColour);
        @include darkBDC($mainColour);
        color:$white;
    }
}
.btn-primary {
    background-color: $subColour;
    border-color: $subColour;
    color: $white;
    &:hover {
        @include darkBGC($subColour);
        @include darkBDC($subColour);
    }
}
.form-control {
    border: 1px solid $mainColour;
    border-radius: 0;
}
textarea {
    resize: vertical;
}
#map {
    height: 400px;
    width: 100%;
}

