h1,h2,h3 {
    font-family : $headerFont;
}
h4,h5,h6 {
    font-family: $subheaderFont;
}
p,span,a {
    font-family: $bodyFont;
}
//login-form

.btn-primary {
    background-color: $subColour;
    border-color: $subColour;
    color: $white;
    &:hover {
        @include darkBGC($subColour);
        @include darkBDC($subColour);
    }
}
#map {
    height: 400px;
    width: 100%;
}

